<%- include("partials/header.ejs")%>

<div class="container custom-margin-top-100px custom-margin-bottom-50px">
  <div class="row">
    <h1>Detail of Blog</h1>
    <h2><%= blog.Title %></h2>
    <h2><%= blog.body %></h2>
    
  </div>
</div>



<%- include("partials/footer.ejs")%>
